/* screen 768px */
@media all and ( max-width:768px ){
	.headerleft {
		width:100%;
		text-align:center;
		float:none;
		padding-bottom: 15px;
	}
	.headerleft img{
		width:200px;
	}
	.menu {
		width:100%;
	}
	.menu ul {
		float:none;
		text-align:center;
	}
	.menu ul li {
		display:inline;
		float:none;
	}
	.menu ul li a {
		display:inline-block;
	}
	.slider-right p {
	width: 98%;
	}
}

@media all and (max-width:670px) {
	.headerdown h1 {
		font-size:40px;
	}
}
/* screen 600px */
@media all and (max-width:600px) {
	.headerdown h1 {
		font-size:40px;
	}
	.singleservice {
		width:48%;
	}
	.single-item {
		width:50%;
	}
	.single-user {
		width:48%;
	}
	.single-user:first-child {
		margin-left: 1%;
	}
	.slider-left {
		width: 100%;
	}
	.slider-right {
		width: 100%;
	}
}
/* screen 490px */
@media all and (max-width:490px){
	.menu ul li{
		display:block;
	}
	.headerdown h1 {
		font-size:30px;
	}
	.singleservice {
		width:90%;
		margin: 0 auto;
		float:none;
		padding:5% 0;
	}
	.singleservice:first-child {
		margin-top:10%;
	}
	.row {
	padding:0;
	}
	.single-item {
		width:100%;
	}
	
	.single-user {
		width:90%;
		float:none;
		margin: 0 auto 30px auto;
		padding-bottom: 70px;
	}
	.single-user:first-child {
	margin-left: .5%;
	margin: 0 auto;
	}
	.single-user:last-child {
		margin: 0 auto;
	}
	.footer-post {
		width: 80%;
		float:none;
		margin:0 auto;
		padding-top: 40px;
		height: 50px;
	}
	.download h1 {
		font-size: 22px;
		padding-bottom:15px;
	}
}